/* @theme rhea */

@import 'gaia';

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

img {
    border-radius: 8px;
}

p {
    font-family: 'Raleway', sans-serif;
}

header {
    height: 3%;
    background-color: #eb5b20;
    color: #fff;
    font-size: 1em;
}

:root {
    --color-foreground: #333;
    --color-highlight: #eb5b20;
    --color-dimmed: #6b6b6b;
}

section {
    background-color: #fff8e1;
}

.hljs-title {
    text-decoration: none !important;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
    color: #6b6b6b;
}

.hljs-meta {
    color: #ccc;
}

code {
    border-radius: 4px;
    font-family: 'Fira Mono', monospace !important;
}

pre {
    border-radius: 6px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    margin-top: 0px;
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.9em;
}